extends layout.pug

block content
  .centered
    .centered-content
      - body = body || {}
      - linkedAccounts = linkedAccounts || {}
      - linkable = linkable || []
      h3 Profile
      form(method='post')
        .form-field
          label(for='username') Username
          input#username(
            type='text'
            value=body.username
            name='username'
            placeholder='This will identify you in chat rooms')
        if body.email
          .form-field
            label(for='email') Email
            input#email(type='text' name='email' value=body.email)
        .form-field
          label(for='password') New Password
          input#password(type='password' name='password')
        .form-field
          label(for='password-confirm') Confirm new password
          input#password-confirm(type='password' name='password-confirm')
        .form-field
          button(input='submit') Update account

      h3 Accounts
      table
        thead
          th Type
          th(colspan='2') Account
        tbody
          each account, type in linkedAccounts
            tr
              td= type
              td= account
                if Object.keys(linkedAccounts).length > 1
                  form(action=`/unlink/${type}` method='post')
                    button Unlink

      h3 Link additional accounts
      each type in linkable
        a.linkButton(href=`/link/${type}`)= type
